body{
    margin: 0;
	padding: 0;
	font-size: 1em;
	line-height: 1.5em;
    background-color: #fff4e0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*imagen del encabezado*/
#imagenEncabezado{
    text-align: center;
}

#imagenEncabezado img{
    width: 100px;
}

#imagenPortada{
    width: 100%;
}

/*Columnas del encabezado*/
#parteAbajoEncabezado, #datosContacto{
    column-count: 3;
    height: 100%;
    display: grid;
}

#parteAbajoEncabezado ul li{
    text-align: center;
    border: 1px solid black;
    padding: .5em;
    width: 100%;
}

#parteAbajoEncabezado ul li:nth-child(3){
    background-color: orange;
}

#parteAbajoEncabezado ul li a{
    display: block;
    padding: 0 10px;
    text-decoration: none;
    color: black;
}

#parteAbajoEncabezado ul li:hover{
    background-color: #ff5c00;
}

#parteAbajoEncabezado ul, #datos{
    margin: 0;
    padding: 0;
    display: inline-flex;
    list-style: none;
    padding: 0;
}

/*portada*/
#portada{
    position: relative;
    text-align: center;
}

#tituloContacto{
    position: absolute;
    top: 10%;
    left: 35%;
    right: 100%;
    color: #ff5c00;
    font-size: 50px;
    text-shadow: 5px 5px #572000;
}

#portadaContacto{
    height: auto;
    width: 100%;
    display: block;
}

/*Mapa*/
#iframe{
    display: flex;
    justify-content: center;
}

iframe{
    width: 100%; 
    height: 400px;
    border: 0;
}

/*datos de contacto*/

#datosContacto p{
    text-align: center;
    padding: .5em;
    width: 100%;
}

.tipoDato{
    font-weight: bold;
}

/*Contenido del formulario*/
#contacto{
    margin-left: 2%;
    text-align: center;
}

textarea{
    margin-top: 20px;
    border-radius: 5px;
}

input[type=text]{
    height: 30%;
    border-radius: 5px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

/*Parte de abajo*/
.pie{
    background: rgba(0, 0, 0, 0.8);
    bottom: 0;
    left: 0;
    width: 99%;
    padding: 10px;
    color: white;
}
.imagen_redes{
    width: 15px;
    height: 15px;
    vertical-align: middle;
}
.redes{
    font-weight: bold;
    vertical-align: middle;
}

a{
    text-decoration: none;
}

a:link{
    color: white;
}

a:visited{
    color: white;
}

a:hover{
    color: rgb(167, 167, 167);
}

#botonContacto{
    border-radius: 10px;
    border-width: 2px;
    background-color: orange;
    color: black;
    text-decoration: none;
    text-align: center;
    float: right;
    margin-top: -3px;
    padding: 5px;
    width: 100px;
    box-shadow: 0px 0px 10px 7px black;
}

#botonContacto:hover{
    background-color: rgb(197, 128, 0);
    transition-duration: 0.3s;
}