/* CSS GENERAL */
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} 

p{
    font-size: 20px;
   }
/* IMAGENES */

img{
    height: 300px;
    width: 300px;
    height: auto;
}

.imgns-container{
    display: grid;
    height: 300px;
    width: 300px;
    margin: 20px;
    max-width: 100%;
    position: absolute;
    right: 0px;
}

#img_recepcion{
    grid-area: imagen;
    width: 100%;
}
#img_piscina{
    grid-area: imagen;
    width: 100%;
}

/* ZONA DE ABAJO: REDES Y CONTACTO */
.pie{
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 99%;
    padding: 10px;
    color: white;
}
.imagen_redes{
    width: 15px;
    height: 15px;
    vertical-align: middle;
}
.redes{
    font-weight: bold;
    vertical-align: middle;
}
a{
    text-decoration: none;
}
a:link{
    color: white;
}
a:visited{
    color: white;
}
a:hover{
    color: rgb(167, 167, 167);
}
#botonContacto{
    border-radius: 10px;
    border-width: 2px;
    background-color: orange;
    color: black;
    text-decoration: none;
    text-align: center;
    float: right;
    margin-top: -3px;
    padding: 5px;
    width: 100px;
    box-shadow: 0px 0px 10px 7px black;
}
#botonContacto:hover{
    background-color: rgb(197, 128, 0);
    transition-duration: 0.3s;
}
/* CUOTAS */
#contenido h3 {
    color: #ff6600;
    font-weight: bold;
}

#contenido h2 {
    color: #19191a;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

#contenido h3 p{
    color: black;
    font-weight: lighter;
    font-size: 30px;

}
#contenido{
    display: grid;
    background-color: #fff4e0;
    padding: 40px;
    margin: 20px;
    text-align: left;
    box-sizing: border-box;
    position: relative;
}

a{
    text-decoration: none;
}
/*TABLA HORARIO*/
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid #f0a458;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f27e14;
}
#vacio{
    background-color: #fcc47c;
}

/*Parte Yeray*/
#encabezado{
    border: 3px solid red;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#parteAbajoEncabezado{
    border: 3px dotted green;
    column-count: 3;
}

#parteAbajoEncabezado ul li{
    border: 1px dotted gray;
    text-align: center;
}

#parteAbajoEncabezado ul li a{
    display: block;
    padding: 0 10px;
    text-decoration: none;
}

#parteAbajoEncabezado ul li a:hover{
    background-color: orange;
}

#parteAbajoEncabezado ul{
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 20px;
}

#tituloEncabezado{
    border: 1px dotted gray;
    text-align: center;
    display: block;
}

body{
    margin: 0;
	padding: 0;
	background: #f2f2f2; 
	font-size: 1em;
	line-height: 1.5em;
}

/*parte yeray*/
#encabezado{
    border: 3px solid red;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: relative;
    background-color: #f8e9da;
}

#encabezado img{
    width: 100px;
    height: 70%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
}

#parteAbajoEncabezado{
    border: 3px dotted green;
    column-count: 3;
    margin-top: 100px;
}

#parteAbajoEncabezado ul li{
    border: 1px dotted gray;
    text-align: center;
}

#parteAbajoEncabezado ul li a{
    display: block;
    padding: 0 10px;
    text-decoration: none;
    color: black;
}

#parteAbajoEncabezado ul li a:hover{
    background-color: orange;
}

#parteAbajoEncabezado ul{
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 20px;
}

#tituloEncabezado{
    border: 1px dotted gray;
    text-align: center;
    display: block;
}

body{
    margin: 0;
	padding: 0;
	background: #f2f2f2; 
	font-size: 1em;
	line-height: 1.5em;
}

img{
    width: 100%;
}

