/* CSS GENERAL */
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} 

.parIndex{
    font-size: 20px;
   }
/* IMAGENES */

.imgns-container{
    display: grid;
    height: 300px;
    width: 300px;
    margin: 20px;
    max-width: 100%;
    position: absolute;
    right: 0px;
}

#img_recepcion{
    grid-area: imagen;
    width: 100%;
}
#img_piscina{
    grid-area: imagen;
    width: 100%;
}

/* ZONA DE ABAJO: REDES Y CONTACTO */
.pie{
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 99%;
    padding: 10px;
    color: white;
}
.imagen_redes{
    width: 15px;
    height: 15px;
    vertical-align: middle;
}
.redes{
    font-weight: bold;
    vertical-align: middle;
}
a{
    text-decoration: none;
    color:rgba(0, 0, 0, 0.8);
}
a:link{
    color: white;
}
a:visited{
    color: white;
}
a:hover{
    color: wheat;
}
#botonContacto{
    border-radius: 10px;
    border-width: 2px;
    background-color: orange;
    color: black;
    text-decoration: none;
    text-align: center;
    float: right;
    margin-top: -3px;
    padding: 5px;
    width: 100px;
    box-shadow: 0px 0px 10px 7px black;
}
#botonContacto:hover{
    background-color: rgb(197, 128, 0);
    transition-duration: 0.3s;
}
/* CUOTAS */
#contenido h3 {
    color: #ff6600;
    font-weight: bold;
}

#contenido h2 {
    color: #19191a;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

#contenido h3 p{
    color: black;
    font-weight: lighter;
    font-size: 30px;

}
#contenido{
    display: grid;
    background-color: #fff4e0;
    padding: 40px;
    margin: 20px;
    text-align: left;
    box-sizing: border-box;
    position: relative;
}

a{
    text-decoration: none;
}
/*TABLA HORARIO*/
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid #f0a458;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f27e14;
}
#vacio{
    background-color: #fcc47c;
}

/*Parte del encabezado*/
#encabezado{
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: relative;
    background-color: #f8e9da;
}

/*imagen del encabezado*/
#imagenEncabezado{
    text-align: center;
}

#imagenEncabezado img{
    width: 100px;
}

#imagenPortada{
    width: 100%;
}

/*Columnas del encabezado*/
#parteAbajoEncabezado{
    column-count: 3;
    height: 100%;
    display: grid;
}

#parteAbajoEncabezado ul li{
    text-align: center;
    border: 1px solid black;
    padding: .5em;
    width: 100%;
}

#parteAbajoEncabezado ul li a{
    display: block;
    padding: 0 10px;
    text-decoration: none;
    color: black;
}

#parteAbajoEncabezado ul li:hover{
    background-color: orange;
}

#parteAbajoEncabezado ul{
    margin: 0;
    padding: 0;
    display: inline-flex;
    list-style: none;
    padding: 0;
}

#tituloEncabezado{
    border: 1px dotted gray;
    text-align: center;
    display: block;
}

/*Para poder poner fijo el encabezado en la parte de arriba*/
.bodyIndex{
    margin: 0;
	padding: 0;
	font-size: 1em;
	line-height: 1.5em;
    background-color: #fff4e0;
}

/* CSS ACTIVIDADES */

.bodyActividades{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #fff4e0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 20px;
}

.actTit1{
    color: #19191a;
    text-align: center;
    font-size: 60px;
}
.actTit2{
    color: #ff6600;
    text-transform: uppercase;
    text-align: center;
    background-color: darkorange;
    padding: 10px;
    border-radius: 5px;
    margin-top: 50px;
}

.desc{
    line-height: 1.6;
    color: #19191a;
    background-color: #ff8610; 
    padding: 15px; 
    border-radius: 10px; 
    margin-bottom: 20px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.7);
}

.imagenesAct{
    width: 100%;
    height: 100%;
    margin: 10px;
    display: inline-block;
    margin-right: 10px;
}

.div_img{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    margin: 20px;
    margin-bottom: 40px;
}

#img1{
    grid-column: 1/2;
}
#im2{
    grid-column: 2/3;
}

.div_boton{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 20px;
    margin-bottom: 40px;
}

#botonApuntarse{
    cursor: pointer;
    width: 100%;
    background: wheat;
    border: 3px solid #19191a;
    padding: 12px;
    color: #19191a;
    margin: 30px 0;
    grid-column: 3/4;
    text-align: center;
}

#botonApuntarse:hover{
    cursor: pointer;
    background: #19191a;
    border: 3px solid #19191a;
    color: wheat;
}