/* CSS GENERAL */
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
} 

.bodyIndex{
    margin-left: 20%;
    margin-right: 20%;
}

.parIndex{
    font-size: 20px;
   }

/* IMAGENES */
.contenedor{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.imgns-container{
    grid-column: 3/4;
    height: 300px;
    width: 300px;
    margin: 20px;
    max-width: 100%;
    position: absolute;
    right: 0px;
}

#img_recepcion{
    grid-area: imagen;
    width: 100%;
}
#img_piscina{
    grid-area: imagen;
    width: 100%;
    
}

/* CONTENIDO GENRAL*/
#contenido h2 {
    
    color: #ff6600;
    font-weight: bold;
    font-size: 25px;
    
}

#contenido h1 {
    
    color: #19191a;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

#contenido h2 p{
    
    color: black;
    font-weight: lighter;
    font-size: 30px;
    

}



#contenido{
    grid-column: 1/3;
    background-color: #fff4e0;
    padding: 20px;
    
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    position: relative;
    line-height: 1.6;
}

a{
    text-decoration: none;
}

/*TABLA HORARIO*/
table {
    width: auto;
    border-collapse: collapse;
    margin-top: 20px;
    /*Esto es lo importante. Es una solución rapida pero hay que ver como hacerlo funcionar*/
    overflow-x: scroll;

}
th, td {
    border: 1px solid #f0a458;
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f27e14;
}
#vacio{
    background-color: #fcc47c;
}

/*RESPONSIVE DEL INDEX*/
/*pc*/
@media only screen and (min-width: 280px) and (max-width: 768px){

}
/* telefono */
  @media only screen and (min-width: 280px) and (max-width: 768px){
    .bodyIndex{
        width: 100%;
        font-size: 12px; 
    }

    /*quito las imagenes para que en los telefonos no salga*/
    .imgns-container{
        display: none;
    }

    /*ajuiste de formato de texto y titulos*/
    #contenido{
        overflow: hidden;
    }

    #contenido h2{
        font-size: 20px;
    }

    #tablaContenido{
        width: 100%;
        font-size: 12px;
    }

    #contenido p{
        font-size: 10px;
        text-align: justify;
    }

    /*ajusta el contenido al tamaño del dispoitivo*/
    table {
        width: 100%;
        font-size: 12px;
        overflow-x: auto;
         /* esto hace que se pueda desplazar horizontalmente si lo necesita el usuario */
    }

    /* ajusta el tamaño de las celdas*/
    th, td {
        padding: 0px 0px;
        text-align: center;
        font-size: 6px;
    }

}

/* tablet */
@media (min-width: 768px) and (max-width: 1368px) {
    
    bodyIndex{
        width: 90%;
        font-size: 12px;
    }
    
    .imgns-container{
        width: 300px;
        margin-left: 10px;
    }

    table{
        width: 90%;
        font-size: 20px;
    }
  }

