/*RESPONSIVE*/
*{
    box-sizing: border-box;
}
.bodyReservas{
    background: url(../images/gimnasioPortada.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* FORMULARIO */
.contenedor{
    position: relative;
}
#logoWeb{
    position: absolute;
    width: 150px;
    top: 10px;
    left: 10px;
}
.contenedor h1{
    text-align: center;
}
.formulario{
    margin: 80px auto;
    font-family: 'Trebuchet MS';
    width: 550px;
    background: orange;
    padding: 30px 50px;
    border-radius: 5px;
    color: black;
    box-shadow: 0px 0px 10px 7px black;
}
.cajaRespuesta{
    width: 100%;
    background: orange;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 16px;
    border: 1px solid black ;
    font-size: 18px;
    color: black;
}
#enviar{
    cursor: pointer;
    width: 100%;
    background: black;
    border: none;
    padding: 12px;
    color: white;
    margin: 30px 0;
}
#enviar:hover{
    background-color: grey;
}
#textoTerminos{
    text-align: center;
    font-size: 15px;
}
#checkboxServicios{
    vertical-align: middle;
}
