/*RESPONSIVE*/
*{
    box-sizing: border-box;
}
.bodyReservas{
    background: url(../images/gimnasioPortada.jpeg);
    background-size: cover;
    background-attachment: fixed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* FORMULARIO */
.contenedor{
    position: relative;
}
#logoWeb{
    position: absolute;
    width: 150px;
    top: 10px;
    left: 10px;
}
.contenedor h1{
    text-align: center;
}
.formulario{
    margin: 100px auto;
    font-family: 'Trebuchet MS';
    width: 550px;
    background: orange;
    padding: 30px 50px;
    border-radius: 5px;
    color: black;
    box-shadow: 0px 0px 10px 7px black;
}
.cajaRespuesta{
    width: 100%;
    background: orange;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 16px;
    border: 1px solid black ;
    font-size: 18px;
    color: black;
}
#enviar{
    cursor: pointer;
    width: 100%;
    background: black;
    border: none;
    padding: 12px;
    color: white;
    margin: 30px 0;
}
#enviar:hover{
    background-color: grey;
}
#textoTerminos{
    text-align: center;
    font-size: 15px;
}
#checkboxServicios{
    vertical-align: middle;
}
@media only screen and (min-width: 280px) and (max-width: 768px){
    .formulario{
        width: 90%;
        font-size: 12px;
    }
    #logoWeb{
        width: 80px;
        left: 40%;
    }
    .cajaRespuesta{
        font-size: 12px;
    }
    #textoTerminos{
        font-size: 12px;
    }
}
@media (min-width: 768px) and (max-width: 1368px) {
    .formulario{
        width: 70%;
    }
    #logoWeb{
        width: 200px;
        margin: 10px auto;
        position: static;
        display: block;
    }
  }