.imagen_redes{
    width: 15px;
    height: 15px;
    vertical-align: middle;
}
#botonContacto{
    border-style: solid;
    border-color: solid black;
    border-radius: 10px;
    border-width: 2px;
    background-color: #f27e14;
    color: black;
    text-decoration: none;
    text-align: center;
    float: right;
    margin-top: -7px;
    padding: 5px;
    width: 100px;
}
#botonContacto:hover{
    background-color: #f0a458;
    transition-duration: 0.3s;
}
.redes{
    font-weight: bold;
}
.pie{
padding: 10px;
position: sticky;
bottom: 0;
}
.contendor{
    position: relative;
}